body{
    margin: 0px ;
    font-family: Helvetica, sans-serif;
}
.main {
   display: flex; 
   margin: auto;
   width: 1280px;
   height: 80px;
   border-bottom: 1px solid rgb(153, 152, 152);
}
img{
    margin: 10px 0px 10px 10px; 
    width: 150px;
    height: 60px;
}
nav{
    display: flex;
    width: 700px;
    height: 80px;

}
.nav-list{
    display: flex;
    list-style: none;
    margin-left: -20px;
}

.nav-list li{
    margin-top: 10px;
    margin-right: 20px;
    font-size: 20px;
    font-weight: bolder;
}

a{
    text-decoration: none;
    color: black;
}

button {
 border:white ;
 font-size: 17px;
 background-color: white;
 cursor: pointer;
}
.lang-1 {
    height: 80px;
    width: 150px;
}
.lang-button{
    margin: 30px 110px ;
    font-size: 13px;
    font-weight: lighter;
    cursor: pointer;
}

.log-button {
    margin-left: 10px;
    margin-top: 18px;
    height: 40px;
    width: 250px;
    background-color: #8c7343;
}
#accounts {
    margin-top: 10px;
    margin-left: 40px;
    background-color: #8c7343;
    color: white;

}
.container-1-main {
    width: 1280px;
    height:800px ;
    box-shadow: 0px 0px 5px grey;
}
.container-1-1{
    justify-content: center;
    width: 1280px;
    height: 720px;
    background-image: url(./6255-01_16by9.webp) ;
    background-size: cover;
    margin: auto;
    background-color: black;
    filter: brightness(80%);
    opacity: 0.9;
}
.container-1-11{
    width: 1250px;
    height: 500px;
    text-align: center;
    /* border: 1px solid black; */
}
.container-1-11 h1 {
    text-shadow: 0px 0px 8px black;
    font-size: 70px;
    font-weight: lighter;
    text-transform: uppercase;
    color: white;
    /* border: 1px solid white; */
}
.container-1-12{
    width: 1250px;
    height: 210px;
    /* border: 1px solid #8c7343; */
}
.container-1-12 button{
    width: 180px;
    height: 50px;
    margin-top: 100px;
    margin-left: 550px;
    background-color:#8c7343;
    color: white;
}
.title-1-button {
    width: 250px;
    height: 150px;
    margin: 350px 150px 0px 0px ;

}
.container-1-2 {
    width: 1280px;
    height:80px ;
}
.text-1{
    display: flex;
    justify-content: center;
    width: 1280px;
    height: 600px;
    background-color: #8c7343;
}
.container-2{
    width: 1280px;
    height: 400px;
    /* border: 1px solid #8c7343; */

}
.container-2-1{
    width: 100%;
    height: 200px;
    display: flex;
}
.container-2-11{
    width: 600px;
    height: 200px;
}
.container-2-11 h1{
    padding: 50px 20px;
    font-size: 40px;
    color: #8c7343;
    font-weight: 550;
}
.container-2-12{
    width: 680px;
    height: 200px;
}
.container-2-12 p{
    text-align: justify;
    width: 620px;
    padding-top: 70px;
    padding-right: 30px; 
    color:#474747 ; 
    font-weight: 500;
}
#see-more-button {
    text-decoration: underline;
    color: #8c7343;
    font-weight: 500;
}
.container-2-2{
    width: 680px;
    height: 150px;
    margin: auto;
}
.button-see{
    border: 1px solid  #8c7343;
    width: 220px;
    margin: auto;
    padding:15px 20px;
}
.button-see a{
    color: #8c7343;
}
.button-see a:hover {
    text-decoration: underline;
}
.container-3 {
    text-align: center;
    color: #8c7343;
    /* border: 1px solid gold; */
}
.container-3 h2{
    margin-top: 0%;
    font-size: 50px;
}
.nav-list-2{
    padding-left: 500px;
    display: flex;
    list-style: none;
}
.braket-1{
    color: #8c7343;
}
.container-5{
    width: 1280px;
    height: 550px;
    border: 1px solid #474747;
    display: flex;
}
.container-5-1{
    width: 400px;
    height: 500px;
    margin: auto;
    /* background-color: #8c7343; */
    /* border: 1px solid #474747; */
    margin-top: 40px;
    margin-right: 0%;
}
.container-5-11{   
   width: 380px;
    height: 300px;
    margin: auto;
    background-image: url(./Mövenpick\ Karachi\ 001.webp);
    background-size: cover;
}
.container-5-12{
    /* border: 1px solid saddlebrown; */
    width: 350px;
    height: 160px;
    margin-top: 30px;
    margin-left: 10px;
}
.container-5-12 h3{
    /* border: 1px solid #8c7343; */
    width: 150px;
    height: 30px;
    font-size: 20px;
    margin-top: 0%;
    margin-bottom: 0%;
    padding-top: 5px;
    color: #8c7343;
}
.container-5-12 p{
    /* border: 1px solid black; */
    margin-top: 0%;
}
.button-see-2{
    border: 1px solid  #8c7343;
    width: 140px;
    padding:15px 20px;
}
.button-see-2 a{
    color: #8c7343;
}
.button-see-2 a:hover {
    text-decoration: underline;
}
.container-5-2{
    width: 400px;
    height: 500px;
    margin: auto;
    /* background-color: #8c7343; */
    /* border: 1px solid #474747; */
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 40px;
}
.container-5-21{
     width: 380px;
    height: 300px;
    margin: auto;
    background-image: url(./Mövenpick\ Karachi\ 006.webp);
    background-size: cover;
}
.container-5-22{
    /* border: 1px solid saddlebrown;  */
    width: 350px;
    height: 160px;
    margin-top: 30px;
    margin-left: 10px;
}
.container-5-22 h3{
        /* border: 1px solid #8c7343; */
    width: 150px;
    height: 30px;
    font-size: 20px;
    margin-top: 0%;
    margin-bottom: 0%;
    padding-top: 5px;
    color: #8c7343;
}
.container-5-22 p{
        /* border: 1px solid black; */
    margin-top: 0%;
}

.container-5-3{
    width: 400px;
    height: 500px;
    margin: auto;
    /* background-color: #8c7343; */
    /* border: 1px solid #313131; */
    margin-left: 0%;
    margin-top: 40px;
}
.container-5-31{
    width: 380px;
    height: 300px;
    margin: auto;
    background-image:url(./Mövenpick\ Karachi\ 065.webp);
    background-size: cover;
}
.container-5-32{
   /* border: 1px solid saddlebrown;  */
    width: 350px;
    height: 160px;
    margin-top: 30px;
    margin-left: 10px;
}
.container-5-32 h3 {
 /* border: 1px solid #8c7343; */
    width: 200px;
    height: 30px;
    font-size: 20px;
    margin-top: 0%;
    margin-bottom: 0%;
    padding-top: 5px;
    color: #8c7343;
}
.container-5-32 p {
margin-top: 0%;
}

.container-6 {
    width: 800px;
    height: 250px;
    /* border: 1px solid blueviolet; */
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
#para-1{
    color: #8c7343;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 12px;
}
.container-6 h1{
    margin-top: 0%;
    text-transform: uppercase;
    color: #8c7343;
    font-size: 50px;
}
#para-2{
    letter-spacing: 1px;
}
.container-7{ 
width: 1200px;
height: 545px;
/* border: 1px solid salmon; */
margin: 60px auto;
background-image: url(./Coffee_beef_duo_xx_i127502-1_11by5.jfif);
background-size: contain;
}
.container-8{
width: 1200px;
height: 600px;
border: 1px solid #8c7343;
margin: 60px auto;
display: flex;
}
.container-8-1{
width: 50%;
height: 100%;
/* border: 1px solid hotpink; */
background-image: url(./70years_zurichstyle__i124078-1_1by1.webp);
background-size: contain;
}
.container-8-2{
width: 50%;
height: 100%;
/* border: 1px solid hotpink; */
/* text-align: center; */
/* padding-top: 40px; */
}
.container-8-2 h3{
    padding-top: 150px;
    font-size: 35px;
    color: #8c7343;
    text-align: center;
}
.container-8-2 p {
    margin: auto;
    width: 320px;
    text-align: center;
    line-height: 1.5;
    /* border: 1px solid gold; */
}
.container-9{
width: 1280px;
height: 550px;
/* border: 1px solid salmon; */
margin: 60px auto;
display: flex;
/* justify-content: space-around; */

}
.container-9-1{
    width: 580px;
    height: 480px;
    /* border: 1px solid brown; */
    /* display: flex; */
    /* justify-content: center; */
    margin-left: 50px;
}
.container-9-11{
    width: 560px;
    height: 374px;
    /* border: 1px solid goldenrod; */
    background-image: url(./6255-29.webp);
    background-size: contain;
    margin-left: 10px ;
    /* margin-right: 0px; */
}
.container-9-12{
    width: 100%;
    height: 100px;
    /* border: 1px solid blue; */
}
.container-9-12 p{ 
    width: 200px;
    /* border: 1px solid red; */
    padding-left: 10px;
    margin-top: 30px;
    text-transform: uppercase;
    color: #8c7343;
    font-size: 12px;
    letter-spacing: 2px;
    word-spacing: 4px;
}
.container-9-12 h3{
    /* border: 1px solid #8c7343; */
    width: 180px;
    margin-top: 0%;
    padding-left: 10px;
    color: #8c7343;
    font-size: 25px;
}
.container-9-2{
    width: 580px;
    height: 480px;
    /* border: 1px solid brown; */
    /* display: flex; */
    /* justify-content: center; */
    margin-left: 5px;
}
.container-9-21{
    width: 560px;
    height: 374px;
    /* border: 1px solid goldenrod; */
    background-image: url(./Mövenpick\ Karachi\ 079.webp);
    background-size: contain;
    margin-left: 10px;
}
.container-9-22{
    width: 100%;
    height: 100px;
    /* border: 1px solid blue; */

}
.container-9-22 p{
     width: 200px;
    /* border: 1px solid red; */
    padding-left: 10px;
    margin-top: 30px;
    text-transform: uppercase;
    color: #8c7343;
    font-size: 12px;
    letter-spacing: 2px;
    word-spacing: 4px;
}

.container-9-22 h3{
    /* border: 1px solid #8c7343; */
    width: 280px;
    margin-top: 0%;
    padding-left: 10px;
    color: #8c7343;
    font-size: 25px;
}
.container-10{
    width: 1280px;
    height: 600px;
    /* border: 1px solid red; */
    background-color: #f5f2ed;
    margin-top: 100px;
    display: flex;
    justify-content: center;
}
.container-10 fieldset {
    height: 400px;
    width: 1200px;
    border: 2px solid black;
    margin-top: 80px;
}
.container-10-1{
    width: 600px;
    height: 150px;
    /* border: 1px solid black; */
    margin: auto;
}
.container-10-1 h4{
    font-size: 35px;
    text-align: center;
    font-weight: lighter;
}
.container-10-2{
    width: 100%;
height: 120px;
/* border: 1px solid black; */
text-align: center;
}

.container-10-2 li{
    display: inline;
    font-size: medium;
    /* list-style: */
    margin-right: 20px;
}
.container-10-21{
    /* border: 1px solid black; */
    width: 150px;
    height: 45px;
    background-color: #8c7343;
    margin: auto;
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
}
.container-10-21 a{
    color: white;
    /* border: 1px solid white; */
    height: 25px;
    margin-top: 10px;
}
.container-10-21:hover{
    text-decoration: underline;
    color: white;
}

.container-11{
    width: 1280px;
    height: 1030px;
    /* border: 1px solid red; */
}
.container-11-1{
    width: 100%;
    height: 220px;
    /* border: 1px solid sandybrown; */
    text-align: center;
}
#para-3{
    /* border: 1px solid black; */
    margin-top:80px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #8c7343;
    font-size: 12px;
    font-weight: bold;
}
.container-11-1 h1{
    color: #8c7343;
    text-transform: uppercase;
    font-size: 50px;
    margin-top: 0px;
}
#para-4{
    /* border: 1px solid salmon; */
    width: 800px;
    margin-top: 0%;
    margin-left: 250px;
    letter-spacing: 1px;
    /* line-height: 1; */
    /* text-align: center; */
}
.container-11-2{
    width: 1200px;
    height: 545px;
    margin-left: 40px;
    /* border: 1px solid sandybrown; */
    background-image: url(./Jimbaran_xxxxxxxxx_i126380_11by5.webp);
    background-size:contain;
}
.container-11-3{
    width: 100%;
    height: 180px;
    /* border: 1px solid sandybrown; */
}

.container-11-3-button{
    /* border: 1px solid #8c7343; */
    margin-top: 80px;
    margin-left: 40px;
    width: 600px; 
    height: 100px;
}
.container-11-3-button h3 { 
    color: #8c7343;
    /* border: 1px solid #8c7343; */
    margin-top: 38px;
    margin-left: 5px;
    width: 590px;
    font-size: 25px;
}
.container-12{
    width: 1280px;
    height: 900px;
    /* border: 1px solid red; */
}
.container-12-1{
    width: 100%;
    height: 200px;
    /* border: 1px solid red; */
    text-align: center;
}
.container-12-1 p{
    color: #8c7343;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
}
.container-12-1 h1{
    color: #8c7343;
    text-transform: uppercase;
    font-size: 50px;
    margin-top: 0px;
    width: 800px;
    margin-left: 250px;
}
.container-12-2{
  width: 1200px;
  height: 600px;
  border: 1px solid #8c7343;
  margin: 20px auto;
  display: flex;
}
.container-12-21{
width: 50%;
height: 100%;
/* border: 1px solid hotpink; */
background-image: url(./6255-92_1by1.webp);
background-size: contain;
}
.container-12-22{
width: 50%;
height: 100%;
/* border: 1px solid hotpink; */
/* text-align: center; */
/* padding-top: 40px; */
}
.container-12-22 h3{
    padding-top: 120px;
    font-size: 35px;
    color: #8c7343;
    text-align: center;
}
.container-12-22 p {
    margin: auto;
    width: 320px;
    text-align: center;
    line-height: 1.5;
     /* border: 1px solid gold;  */
}
.container-12-22 a{
    color: #8c7343;
    margin-left:  230px;
    /* border: 1px solid chartreuse;  */
    font-size: 18px;
}
.container-12-22 a:hover {
    text-decoration: underline;
}

.container-13{
    width: 1280px;
    height: 550px;
    /* border: 1px solid black; */
}
.container-13-1{
    width: 100%;
    height: 200px;
    /* border: 1px solid sandybrown; */
    text-align: center;
}
.container-13 p{
    color: #8c7343;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
    margin-top: 20px;
}
.container-13 h1{
    color: #8c7343;
    text-transform: uppercase;
    font-size: 50px;
    margin-top: 0px;
    width: 800px;
    margin-left: 250px;
    /* border: 1px solid salmon; */
}
.container-13 a{
    margin-top: 0%;
    color:#8c7343;
    /* border: 1px solid salmon; */
}
.container-13 a:hover{
    text-decoration: underline;
}
.container-13-2{
    width: 1200px;
    height: 250px;
    /* border: 1px solid salmon; */
    margin-left: 40px;
    display: flex;
}
.container-13-21{
    width: 50%;
    height: 100%;
    /* border: 1px solid black; */
}
.container-13-21 h3{
    color: #8c7343;
    font-size: 40px;
    margin-top: 50px;
}
.container-13-22{
    width: 25%;
    height: 100%;
    /* border: 1px solid black; */
}
.container-13-22 h4{
    color: #8c7343;
    font-size: 25px;
    font-weight: lighter;
    margin-top: 50px;
    margin-left: 40px;
}
.container-13-22 li{
    list-style: none;
    line-height: 1.5;
    text-decoration: underline;
}
.container-13-23{
    width: 25%;
    height: 100%;
    /* border: 1px solid black; */
}
.container-13-23 h4{
    color: #8c7343;
    font-size: 25px;
    font-weight: lighter;
    margin-top: 50px;
    margin-left: 40px;
}
.container-13-23 li{
    list-style: none;
    line-height: 1.5;
    text-decoration: underline;
}
.container-14 {
    width: 1280px;
    height: 500px;
    /* border: 1px solid black;  */
 }
 .container-15{
    width: 1280px;
    height: 600px;
    border: 1px solid black;
 }
